body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 200px;
}

.button-number {
    display: flex;
}