body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: gray;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 250px;
    height: 250px;
}



#display {
    display: flex;
    width: 225px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    justify-content: flex-end;

    align-items: center;
    background-color: white;
}

#clear {
    font-weight: 800;
    font-size: 30px;
    display: flex;
    background-color: orange;
    height: 40px;
    width: 225px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    user-select: none;
}

#clear:active {
    background-color: orange;
    transform: scale(0.95);
    transition: transform 0.02s;
}

#clear:hover {
    background-color: goldenrod;
}

.button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: verdana;
    font-weight: 800;
    font-size: 24px;
    padding: 20px 28px;
    width: 58px;
    height: 58px;
}

.button-text:active {
    background-color: gray;
    transform: scale(0.95);
    transition: transform 0.02s;
}